

@import url('css/content/model_container.css');
@import url('components/tagline/style.css');
@import url('components/hamburger/style.css');
@import url('components/button/style.css');
@import url('components/highlight/style.css');
@import url('components/card/style.css');
@import url('components/panel/style.css');
@import url('templates/staticParts/Navigation/style.css');
@import url('components/clouds/style.css');
@import url('components/card/style.css');
@import url("css/font/bebas/stylesheet.css");

:root {
    --color-6: #06141B;
    --color-5: #11212D;
    --color-4: #253745;
    --color-3: #4A5C6A;
    --color-2: #9BA8AB;
    --color-1: #CCD0CF;

    font-family: "Bebas Neue Cyrillic", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden !important;
}
*,*::before,*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    width: auto;
    height: auto;
    overflow-x: hidden !important;
}
body {
    padding: 0;
    margin: 0;

    background: #fff;
    color: #333;
    overflow-x: hidden !important;
}
button {
    padding: 0;
    background-color: transparent;
    background-image: none;
}
button, input, optgroup, select, textarea {
    border: 0;
    padding: 0;
    line-height: inherit;
    color: inherit;
}
button, [role=button] {
    cursor: pointer;
}
ol, ul {
    list-style: none;
}
a { 
    text-decoration: none;
 }
main, header, footer {
    overflow-x: hidden !important;
    width: 100vw;
}
h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}
/*h1 {
    font-size: 2.5rem;    
}
h2 {
    font-size: 1.625rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1.125rem;
}
p {
    font-size: 1rem;
}

.background-image-tombstone {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url('assets/bg_tombstone.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
}
.background-image-tombstone-transform {
    transform: rotate(-45deg);
    left: -135px;
    top: -220px;
    /*transform: translate(-50px, -100px);*/
}
#hero {
    z-index: 1000 !important;

}
#prime {
    width: 100vw;
    height: auto;
}
.prime {
    width: 100%;
    height: 75vh;
}
.prime_background { 
    position: absolute;

    width: 100%;
    height: 75vh;

    background-image: url('./assets/backgrounds/back1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    text-align: right;
    z-index: 1;
}
.prime .tagline{
    position: absolute;
    width: 100vw;
    z-index: 1;
}
#whatwedo  {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  background-color: var(--color-1);
}

/**/
.produc {
    box-shadow: -15px -15px 3px rgba(0,0,0, .5);
    background-color: var(--color-6);
    max-width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0px 0px 0px;

}
.produc-image {
    position: absolute;
    width: 150px;
    height: 200px;
  transform: scale(.75) translateX(15.2rem);
  transition: 0.6s ease transform;
}
.produc-image:hover {
  transform: scale(1) translate(11.5rem, 2rem);
  }
.produc-infoBlock {
    display: flex;
    height: 100%;
    width: auto;
    justify-content: center;
    flex-direction: column;
}
.produc-name {
    width: 100%;
    padding: 20px 10px;
    font-size: 1.1rem;
    color: var(--color-1);

}
.produc-article {
    margin: 15px;
    width: 70%;
    font-size: .7rem;
        color: var(--color-3);

}
.produc-routerLink {
    margin: 20px 10px;
    position: relative;
/*    top: -15px;*/
    font-size: .8rem;
        color: var(--color-1);

}
/**/



/*
.product-catalog {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.product-item {
  flex: 0 0 calc(45% - 10px);  Два товара в ряд на экранах шириной более 768px 
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-price,
.product-name {
    margin: 0 !important;
    padding-top: 10px ;
    display: block;
    font-family: "Bebas Neue Cyrillic", sans-serif;
}*/


.pagination-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Выравнивание по центру */
    align-items: center;
}

.pagination {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination button {
    margin-right: 20px;
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: normal;
    margin: 0 12px 0 0;
    display: inline-block;
    border-radius: 0px;
    border-bottom: 1px solid #6a6a6a;

}

.pagination button:hover {
  background-color: #0056b3;
}
/*.product-img-container {
    width: 90%;
    height: 120px;
    background: rgba(255, 255, 255, 0);
    padding: 10px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.product img {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    height: 100%;
    max-height: 120px;
    max-width: 100px;
    margin: auto;
}
.product-name {
        font-size: 16px;
    color: #6a6a6a;
    font-weight: 400;
    text-align: center;
}
.product-price {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-align: center;
}
.product-details {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.add-to-cart-button {
    width: 100%;    
    margin-top: 15px;
    padding: 10px 15px;
    font-weight: 100;
    background-image: none;
    font-size: 14px;
    background: #000;
    color: #fff;
    cursor: pointer;
    font-family: "Bebas Neue Cyrillic", sans-serif;
    letter-spacing: 2.5px;
}
.mid {
    text-align: center;
}*/

#contact {
    background-color: var(--color-5);
}
            